<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    
    <p>SR's First Page</p>
    <h3>Welcome!! to this web page, Guys.</h3>

    <h5>{{ data }}</h5>
    
    <p>Guys!! Magic works only once :|</p>
    <button><a href="/home" style="text-decoration: none;">Show Magic</a></button>
    <button><a href="{{ url_for('index') }}" style="text-decoration: none;">Hide Magic</a></button>

</body>
</html>